---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author_full }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
	<style>
		#profile-photo {
			height: 700px;
			background-image: url(/assets/images/Lyskacover2025.JPG);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	</style>
</head>
<body>
	{% include header.html %}
	<main class="content" style="padding: 7rem 0 0 !important">
		<section class="projects">
			<div class="container">
				<div id="profile-photo"></div>
			</div>
		</section>
		<section class="intro">
			<div class="container">
				<h2>About me.</h2>
				<p>
					<a href="/about">
						{{ site.description }}
						<span style="color: #aaa">Read more.</span>
					</a>
				</p>
			</div>
		</section>
		<section class="projects">
			<div class="container">
				<h2>Handmade that I made.</h2>
				<ul class="projects-list">
					{% for item in site.categories.projects %}
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper">
									<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
								<span class="h2">{{ item.project.type }}</span>
								<h3>{{ item.project.title }}</h3>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>
