---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author_full }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
	<style>
		.about p {
			margin-bottom: 10px;
		}
	</style>
</head>
<body>
	{% include header.html %}
	<main class="content" style="padding: 7rem 0 0 !important">
		<section class="intro">
			<div class="container">
				<h2>About me.</h2>
				<p>
					{{ site.description }}
				</p>
			</div>
		</section>
		<section class="about">
			<div class="container">
				<p>
					I love the feeling of walking into a garment store or a huge fabric market with a variety of colors, materials.
					I call it paradise where I can touch my imagination.
					I find peace when I diligently draw or meticulously sew “my thoughts” and watch the unfinished product gradually complete like the version I originally pictured in my mind.
					The happiness when the final product is exactly the same as my imagination is indescribable – just bliss, delirious happiness.
					I also find myself more patient when things don't work, such as when the sewing machine needle is broken or the last piece of my favorite fabric is ruined by wrong manipulation of scissors.
					This world is imperfect. Sometimes we fail so many times to achieve a single success. Luckily, in handmade you will succeed more than once if you are patient *wink*. 
				</p>
				<p>
					Sometimes I make a party dress or a backpack by myself simply because I cannot find any product on the market that fits me.
					An advantage of self-production is that it allows me to choose durable and eco-friendly materials, or repair my old favorites and transform them into new and trendy versions while reducing waste.
					Reuse and recycle is my motto.
				</p>
				<p>
					Life is more delightful when we do the things we love and contribute to maintaining our living environment.
					I decided to set up this website to remember the things that I’ve done when I had a little time to indulge my hobbies after hours of hard work.
				</p>
				<p>
					Let's check out my collection and keep an eye out for cool new handmade stuff that I will continue to add in the future!
					You can also buy them or make an order for a personalized one if you are interested.
					Please feel free to contact me!
 				</p>
				<p>
					Love,<br>
					Ly
				</p>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>
