---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author_full }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
	<style>
		.about p {
			margin-bottom: 20px;
			font-weight: 300 !important;
			color: #787878;
		}
	</style>
</head>
<body>
	{% include header.html %}
	<main class="content" style="padding: 7rem 0 0 !important">
		<section class="intro">
			<div class="container">
				<h2>About me.</h2>
				<p>
					{{ site.description }}
				</p>
			</div>
		</section>
		<section class="about">
			<div class="container">
				<p>
					I love the feeling of walking into a garment store or a huge fabric market with a variety of materials and colors. I call it paradise where I can touch my imagination.

I find peace when I draw or sew “my thoughts” and watch the unfinished product gradually complete like the version I pictured in my mind. 
I also find myself more patient when things don't work, such as when the sewing machine needle is broken or the last piece of my favorite fabric is ruined by wrong manipulation. Sometimes we fail so many times to achieve a single success. Luckily, in handmade you will succeed eventually if you are patient *wink*. 

Reuse and recycle is my motto. I often repair my old favorites and transform them into new and trendy versions while reducing waste. Moreover, self-production also enables me to choose durable and eco-friendly materials. Life is delightful when we do the things we love and contribute to maintaining our living environment.

I decided to set up this website to collect all the things that I’ve done when I had a little time to indulge my hobbies. Check out my collection and keep an eye out for cool new handmade stuff that I will continue to add in the future! You can also buy them or make an order for a personalized one if you are interested. Please feel free to contact me!
 				</p>
				<p>
					Love,<br>
					Ly
				</p>
				<br><br>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>
